page-palestrantes-info {
    
        #detalheLocal{
            padding: 10px 10px 10px 10px;
        }
    
        #cardInfo{
            padding: 1px 20px 1px 20px;
            background-color: white;
            text-transform: capitalize;
        }
    
        #cardInfoDesc{
            padding: 1px 20px 1px 20px;
            background-color: white;
        }
    
        #logoMaratona{
            padding: 10px;
            height: 200px;
            width: 200px;
        }
}
