page-palestrantes {
    #card{
        line-height: 1.9;
        height: 100%;
        padding: 3px 0px 0px 0px;
        text-transform: uppercase;
    }

    #fT{
        background-color: rgb(255, 255, 255);
    }

    #logoMaratona{
        padding: 10px;
        height: 200px;
        width: 200px;
    }
}
